<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
The best place to reach <a hre="http://railstutorial.org/">Ruby on Rails Tutorial</a>
is at <a href="http://rubyonrails.org/">Ruby on Rails</a>.
</p>
	